# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/

bin/

out.log

# CLion temp files
/libasnapplication*
/cmake_install.cmake
/CMakeCache.txt
/cmake-build-debug/
/CMakeFiles/
/Makefile

# Visual Studio
.vs/